#login, #loggedin {
  display: none;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
.normalText {
  font-size: 20px;
}
underlineText {
  text-decoration: underline;
}
